In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset = pd.read_excel("/content/Crude Oil Prices Daily.xlsx")

In [5]:
df=dataset.head(11)
df

         Date  Closing Value
0  1986-01-02          25.56
1  1986-01-03          26.00
2  1986-01-06          26.53
3  1986-01-07          25.85
4  1986-01-08          25.87
5  1986-01-09          26.03
6  1986-01-10          25.65
7  1986-01-13          25.08
8  1986-01-14          24.97
9  1986-01-15          25.18
10 1986-01-16          23.98

In [10]:
df.describe()

       Closing Value
count      11.000000
mean       25.518182
std         0.688750
min        23.980000
25%        25.130000
50%        25.650000
75%        25.935000
max        26.530000

In [11]:
x = df.iloc[:, 1:3].values
print ("\nOriginal data values : \n", x)

Original data values :
 [[25.56 'FLOAT']
 [26.0 0]
 [26.53 0]
 [25.85 0]
 [25.87 0]
 [26.03 0]
 [25.65 1]
 [25.08 1]
 [24.97 1]
 [25.18 1]
 [23.98 0]]

In [13]:
from sklearn.preprocessing import StandardScaler